.about {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.RS {
    justify-content: right;
    align-items: right;
    width: 200PX;
    height: 200px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.com {
    color: rgb(255, 255, 255);
}